In [1]:
import psycopg2
# import sqlalchemy as sq
import pandas as pd
import numpy as np
import mariadb
# import dask.dataframe as dd
import json
import os
import shutil
import subprocess
from pathlib import Path
import pyodbc

In [18]:
conn_lims = pyodbc.connect("Driver={SQL Server};"
                            "Server=192.168.5.18\CROPNUT;"
                            "Database=cropnuts;"
                            "uid=thomasTsuma;pwd=GR^KX$uRe9#JwLc6")

In [ ]:
soil_df = pd.read_sql("select sample_code, batch_date, analysis_name, chemical_name, result, unit_name from SampleResults where group_name='Soil Analysis'",con=conn_lims)

C:\Users\tsuma.thomas\AppData\Local\Temp\ipykernel_2672\936243314.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  soil_df = pd.read_sql("select sample_code, batch_date, analysis_name, chemical_name, result, unit_name from SampleResults where group_name='Soil Analysis'",con=conn_lims)

In [5]:
soil_df.to_csv("input/soil_samples.csv")

In [2]:
soil_df = pd.read_csv("input/soil_samples.csv")

In [3]:
soil_df

,Unnamed: 0,sample_code,batch_date,analysis_name,chemical_name,result,unit_name
0,0,CF045SA0784,2012-07-09 00:00:00.000,"% Organic Matter (OM),Complete Soil Analysis",Iron,165,ppm
1,1,CF045SA0784,2012-07-09 00:00:00.000,"% Organic Matter (OM),Complete Soil Analysis",C.E.C,16.6,meq/100g
2,2,CF045SA0784,2012-07-09 00:00:00.000,"% Organic Matter (OM),Complete Soil Analysis",Aluminium,481,ppm
3,3,CF045SA0784,2012-07-09 00:00:00.000,"% Organic Matter (OM),Complete Soil Analysis",EC (Salts),61.0,uS/cm
4,4,CF045SA0784,2012-07-09 00:00:00.000,"% Organic Matter (OM),Complete Soil Analysis",Organic Matter,2.36,%
...,...,...,...,...,...,...,...
4038895,4038895,CI118SA1115,2024-04-10 00:00:00.000,"Boron Analysis,Organic Carbon & Total N (Wetch...",EDTA Zinc,1.51,ppm
4038896,4038896,CI118SA1115,2024-04-10 00:00:00.000,"Boron Analysis,Organic Carbon & Total N (Wetch...",EDTA Iron,134,ppm
4038897,4038897,CI118SA1115,2024-04-10 00:00:00.000,"Boron Analysis,Organic Carbon & Total N (Wetch...",EDTA manganese,84.0,ppm
4038898,4038898,CI118SA1115,2024-04-10 00:00:00.000,"Boron Analysis,Organic Carbon & Total N (Wetch...",Total Nitrogen,0.10,%
4038899,4038899,CI118SA1115,2024-04-10 00:00:00.000,"Boron Analysis,Organic Carbon & Total N (Wetch...",Organic Carbon,1.31,%

In [5]:
soil_df.loc[soil_df['chemical_name'] == 'Phosphorus(Olsen)']

,Unnamed: 0,sample_code,batch_date,analysis_name,chemical_name,result,unit_name
68,68,CT042SA2822,2012-07-17 00:00:00.000,Standard Soil (Olsen P),Phosphorus(Olsen),16.0,ppm
75,75,CT042SA2823,2012-07-17 00:00:00.000,Standard Soil (Olsen P),Phosphorus(Olsen),16.0,ppm
298,298,CT042SA2820,2012-07-17 00:00:00.000,Standard Soil (Olsen P),Phosphorus(Olsen),8.03,ppm
305,305,CT042SA2821,2012-07-17 00:00:00.000,Standard Soil (Olsen P),Phosphorus(Olsen),3.12,ppm
310,310,CT042SA2818,2012-07-17 00:00:00.000,Standard Soil (Olsen P),Phosphorus(Olsen),6.28,ppm
...,...,...,...,...,...,...,...
1142473,1142473,CT112SA0005,2015-01-19 00:00:00.000,Complete Soil Analysis (M3),Phosphorus(Olsen),20.3,ppm
1144077,1144077,CI056SA0001,2015-01-08 00:00:00.000,"Soil Texture Analysis,Complete Soil Analysis (M3)",Phosphorus(Olsen),12.1,ppm
1146858,1146858,AGD802-9SA0001,2015-01-19 00:00:00.000,Complete Soil Analysis (M3),Phosphorus(Olsen),7.27,ppm
1147040,1147040,FA509-82SA0001,2015-02-23 00:00:00.000,Complete Soil Analysis (M3),Phosphorus(Olsen),4.52,ppm
1147494,1147494,FA509-83SA0001,2015-02-23 00:00:00.000,Complete Soil Analysis (M3),Phosphorus(Olsen),40.8,ppm

In [6]:
soil_df['analysis_name'].value_counts()

analysis_name
Complete Soil Analysis with Recommendations    1271546
AFSIS Std Wet Chemistry Soil Analysis           198825
Complete Soil Analysis                          191014
Complete Soil Analysis (M3)                     180924
Basic Soil Analysis with Recommendations        143443
                                                ...
Listeria spp                                         2
Salmonella                                           2
Starter Soil Scan (IR)                               1
Gold Analysis                                        1
Salmonella spp                                       1
Name: count, Length: 906, dtype: int64

In [7]:
soil_df = soil_df.dropna(subset='result')

In [8]:
soil_df = soil_df.loc[~(soil_df['result'] == "ND") ]
soil_df = soil_df.loc[~(soil_df['result'] == "Detected") ]
soil_df = soil_df.loc[~(soil_df['result'] == "Clay") ]
soil_df = soil_df.loc[~(soil_df['result'] == "HClay") ]
soil_df = soil_df.loc[~(soil_df['result'] == "CLoam") ]
soil_df = soil_df.loc[~(soil_df['result'] == "Loam") ]
soil_df = soil_df.loc[~(soil_df['result'] == "SCLoam") ]
soil_df = soil_df.loc[~(soil_df['result'] == "SLoam") ]
soil_df = soil_df.loc[~(soil_df['result'] == "LSand") ]
soil_df = soil_df.loc[~(soil_df['result'] == "SClay") ]

In [9]:
soil_df['result'] = [ (i.replace("<","").replace(">","").strip()) for i in soil_df['result']]

In [10]:
soil_df = soil_df.loc[soil_df['result'] != ""]

In [11]:
soil_df

,Unnamed: 0,sample_code,batch_date,analysis_name,chemical_name,result,unit_name
0,0,CF045SA0784,2012-07-09 00:00:00.000,"% Organic Matter (OM),Complete Soil Analysis",Iron,165,ppm
1,1,CF045SA0784,2012-07-09 00:00:00.000,"% Organic Matter (OM),Complete Soil Analysis",C.E.C,16.6,meq/100g
2,2,CF045SA0784,2012-07-09 00:00:00.000,"% Organic Matter (OM),Complete Soil Analysis",Aluminium,481,ppm
3,3,CF045SA0784,2012-07-09 00:00:00.000,"% Organic Matter (OM),Complete Soil Analysis",EC (Salts),61.0,uS/cm
4,4,CF045SA0784,2012-07-09 00:00:00.000,"% Organic Matter (OM),Complete Soil Analysis",Organic Matter,2.36,%
...,...,...,...,...,...,...,...
4038895,4038895,CI118SA1115,2024-04-10 00:00:00.000,"Boron Analysis,Organic Carbon & Total N (Wetch...",EDTA Zinc,1.51,ppm
4038896,4038896,CI118SA1115,2024-04-10 00:00:00.000,"Boron Analysis,Organic Carbon & Total N (Wetch...",EDTA Iron,134,ppm
4038897,4038897,CI118SA1115,2024-04-10 00:00:00.000,"Boron Analysis,Organic Carbon & Total N (Wetch...",EDTA manganese,84.0,ppm
4038898,4038898,CI118SA1115,2024-04-10 00:00:00.000,"Boron Analysis,Organic Carbon & Total N (Wetch...",Total Nitrogen,0.10,%
4038899,4038899,CI118SA1115,2024-04-10 00:00:00.000,"Boron Analysis,Organic Carbon & Total N (Wetch...",Organic Carbon,1.31,%

In [12]:
soil_df['unit_name'] = [ str(i).strip() for i in soil_df['unit_name'].values ]

In [13]:
soil_df['chemical_name'] = [ str(i).lower().replace(" ","_").replace("(","").replace(")","").replace(".","").strip() for i in soil_df['chemical_name'].values ]

In [14]:
soil_df = soil_df.loc[~(soil_df['result'].astype("float32") < 0)]

In [15]:
soil_df = soil_df.loc[~(soil_df['unit_name'] == "nan")]

In [16]:
soil_df

,Unnamed: 0,sample_code,batch_date,analysis_name,chemical_name,result,unit_name
0,0,CF045SA0784,2012-07-09 00:00:00.000,"% Organic Matter (OM),Complete Soil Analysis",iron,165,ppm
1,1,CF045SA0784,2012-07-09 00:00:00.000,"% Organic Matter (OM),Complete Soil Analysis",cec,16.6,meq/100g
2,2,CF045SA0784,2012-07-09 00:00:00.000,"% Organic Matter (OM),Complete Soil Analysis",aluminium,481,ppm
3,3,CF045SA0784,2012-07-09 00:00:00.000,"% Organic Matter (OM),Complete Soil Analysis",ec_salts,61.0,uS/cm
4,4,CF045SA0784,2012-07-09 00:00:00.000,"% Organic Matter (OM),Complete Soil Analysis",organic_matter,2.36,%
...,...,...,...,...,...,...,...
4038895,4038895,CI118SA1115,2024-04-10 00:00:00.000,"Boron Analysis,Organic Carbon & Total N (Wetch...",edta_zinc,1.51,ppm
4038896,4038896,CI118SA1115,2024-04-10 00:00:00.000,"Boron Analysis,Organic Carbon & Total N (Wetch...",edta_iron,134,ppm
4038897,4038897,CI118SA1115,2024-04-10 00:00:00.000,"Boron Analysis,Organic Carbon & Total N (Wetch...",edta_manganese,84.0,ppm
4038898,4038898,CI118SA1115,2024-04-10 00:00:00.000,"Boron Analysis,Organic Carbon & Total N (Wetch...",total_nitrogen,0.10,%
4038899,4038899,CI118SA1115,2024-04-10 00:00:00.000,"Boron Analysis,Organic Carbon & Total N (Wetch...",organic_carbon,1.31,%

In [19]:
analysisDetails = pd.read_sql("SELECT LTRIM(RTRIM(analysis_name)) AS analysis_name, chemical_name FROM AnalysisDetails INNER JOIN Chemicals ON Chemicals.chemical_code = AnalysisDetails.chemical_code INNER JOIN Analysis ON AnalysisDetails.analysis_id = Analysis.analysis_id",con=conn_lims)
analysisDetails.chemical_name = [ str(i).lower().replace(" ","_").replace("(","").replace(")","").replace(".","").strip() for i in analysisDetails.chemical_name ]
analysisDetails = analysisDetails.groupby("analysis_name").agg({'chemical_name': list})
analysisDetails.to_csv("output/analysis_chemicals.csv")

C:\Users\tsuma.thomas\AppData\Local\Temp\ipykernel_25964\956829818.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  analysisDetails = pd.read_sql("SELECT LTRIM(RTRIM(analysis_name)) AS analysis_name, chemical_name FROM AnalysisDetails INNER JOIN Chemicals ON Chemicals.chemical_code = AnalysisDetails.chemical_code INNER JOIN Analysis ON AnalysisDetails.analysis_id = Analysis.analysis_id",con=conn_lims)

In [15]:
soil_df.to_csv("input/soil_analysis_cleaned.csv")