In [3]:
import psycopg2

import pandas as pd
import numpy as np
import mariadb
# import dask.dataframe as dd
import json
import os
import shutil
import subprocess
from pathlib import Path
import pyodbc
from datetime import datetime
from dateutil import parser

In [4]:
conn_lims = pyodbc.connect("Driver={SQL Server};"
                            "Server=192.168.5.18\CROPNUT;"
                            "Database=cropnuts;"
                            "uid=thomasTsuma;pwd=GR^KX$uRe9#JwLc6")

In [5]:
hydroponics_df = pd.read_sql("select sample_code, batch_date, analysis_name, chemical_name, result, unit_name from SampleResults where group_name LIKE'%HY%' AND sample_code NOT LIKE 'HY%'",con=conn_lims)

C:\Users\tsuma.thomas\AppData\Local\Temp\ipykernel_20264\1670624585.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  hydroponics_df = pd.read_sql("select sample_code, batch_date, analysis_name, chemical_name, result, unit_name from SampleResults where group_name LIKE'%HY%' AND sample_code NOT LIKE 'HY%'",con=conn_lims)

In [6]:
hydroponics_df.to_csv("input/sgf_samples.csv")

In [7]:
hydroponics_df = pd.read_csv("input/sgf_samples.csv")

In [8]:
hydroponics_df = hydroponics_df.dropna(subset='batch_date').sort_values('batch_date')

In [9]:
hydroponics_df

,Unnamed: 0,sample_code,batch_date,analysis_name,chemical_name,result,unit_name
22491,22491,CF006HY0130,2011-06-09 00:00:00.000,Drip Water Analysis,Electrical Conductivity,1.23,mS/cm
22478,22478,CF006HY0130,2011-06-09 00:00:00.000,Drip Water Analysis,Magnesium,15,ppm
22477,22477,CF006HY0130,2011-06-09 00:00:00.000,Drip Water Analysis,Calcium,107,ppm
22476,22476,CF006HY0130,2011-06-09 00:00:00.000,Drip Water Analysis,Ammonium,10.12,ppm
22475,22475,CF006HY0131,2011-06-09 00:00:00.000,Drip Water Analysis,Manganese,0.19,ppm
...,...,...,...,...,...,...,...
651502,651502,CK013HY0039,2024-11-15 16:33:35.790,Substrate Analysis (Cocos) 1:1.5 Volume Extract,Boron,0.047,ppm
651503,651503,CK013HY0039,2024-11-15 16:33:35.790,Substrate Analysis (Cocos) 1:1.5 Volume Extract,Copper,0.025,ppm
651504,651504,CK013HY0039,2024-11-15 16:33:35.790,Substrate Analysis (Cocos) 1:1.5 Volume Extract,Molybdenum,< 0.01,ppm
651492,651492,CK013HY0039,2024-11-15 16:33:35.790,Substrate Analysis (Cocos) 1:1.5 Volume Extract,Calcium,3.69,ppm
651489,651489,CK013HY0039,2024-11-15 16:33:35.790,Substrate Analysis (Cocos) 1:1.5 Volume Extract,pH,6.97,NaN

In [11]:
hydroponics_df.dropna(subset='batch_date').sort_values('batch_date')

,Unnamed: 0,sample_code,batch_date,analysis_name,chemical_name,result,unit_name
22491,22491,CF006HY0130,2011-06-09 00:00:00.000,Drip Water Analysis,Electrical Conductivity,1.23,mS/cm
22466,22466,CF006HY0131,2011-06-09 00:00:00.000,Drip Water Analysis,Electrical Conductivity,1.92,mS/cm
22465,22465,CF006HY0131,2011-06-09 00:00:00.000,Drip Water Analysis,pH,7.13,NaN
22462,22462,CF006HY0130,2011-06-09 00:00:00.000,Drip Water Analysis,Chlorides,5,ppm
22479,22479,CF006HY0130,2011-06-09 00:00:00.000,Drip Water Analysis,Potassium,117,ppm
...,...,...,...,...,...,...,...
651509,651509,CK013HY0039,2024-11-15 16:33:35.790,Substrate Analysis (Cocos) 1:1.5 Volume Extract,SAR,3.39,NaN
651508,651508,CK013HY0039,2024-11-15 16:33:35.790,Substrate Analysis (Cocos) 1:1.5 Volume Extract,Bicarbonate,38.2,ppm
651492,651492,CK013HY0039,2024-11-15 16:33:35.790,Substrate Analysis (Cocos) 1:1.5 Volume Extract,Calcium,3.69,ppm
651495,651495,CK013HY0039,2024-11-15 16:33:35.790,Substrate Analysis (Cocos) 1:1.5 Volume Extract,Phosphorus,8.12,ppm
651489,651489,CK013HY0039,2024-11-15 16:33:35.790,Substrate Analysis (Cocos) 1:1.5 Volume Extract,pH,6.97,NaN

In [13]:
hydroponics_df['batch_date'] = hydroponics_df['batch_date'].apply(parser.parse)

In [14]:
hydroponics_df

,Unnamed: 0,sample_code,batch_date,analysis_name,chemical_name,result,unit_name
22491,22491,CF006HY0130,2011-06-09 00:00:00.000,Drip Water Analysis,Electrical Conductivity,1.23,mS/cm
22478,22478,CF006HY0130,2011-06-09 00:00:00.000,Drip Water Analysis,Magnesium,15,ppm
22477,22477,CF006HY0130,2011-06-09 00:00:00.000,Drip Water Analysis,Calcium,107,ppm
22476,22476,CF006HY0130,2011-06-09 00:00:00.000,Drip Water Analysis,Ammonium,10.12,ppm
22475,22475,CF006HY0131,2011-06-09 00:00:00.000,Drip Water Analysis,Manganese,0.19,ppm
...,...,...,...,...,...,...,...
651502,651502,CK013HY0039,2024-11-15 16:33:35.790,Substrate Analysis (Cocos) 1:1.5 Volume Extract,Boron,0.047,ppm
651503,651503,CK013HY0039,2024-11-15 16:33:35.790,Substrate Analysis (Cocos) 1:1.5 Volume Extract,Copper,0.025,ppm
651504,651504,CK013HY0039,2024-11-15 16:33:35.790,Substrate Analysis (Cocos) 1:1.5 Volume Extract,Molybdenum,< 0.01,ppm
651492,651492,CK013HY0039,2024-11-15 16:33:35.790,Substrate Analysis (Cocos) 1:1.5 Volume Extract,Calcium,3.69,ppm
651489,651489,CK013HY0039,2024-11-15 16:33:35.790,Substrate Analysis (Cocos) 1:1.5 Volume Extract,pH,6.97,NaN

In [15]:
hydroponics_df_time_filtered = pd.concat([ hydroponics_df.loc[(hydroponics_df['batch_date'] >= parser.parse('2023-03-26'))], hydroponics_df.loc[(hydroponics_df['batch_date'] <= parser.parse('2023-05-08'))] ])

In [17]:
hydroponics_df_time_filtered

,Unnamed: 0,sample_code,batch_date,analysis_name,chemical_name,result,unit_name
513306,513306,CS032HY0239,2023-03-28 16:33:43,Substrate Analysis (Pumice) 1:1.5 Volume Extract,Molybdenum,< 0.01,ppm
513305,513305,CS032HY0239,2023-03-28 16:33:43,Substrate Analysis (Pumice) 1:1.5 Volume Extract,Copper,0.014,ppm
513294,513294,CS032HY0239,2023-03-28 16:33:43,Substrate Analysis (Pumice) 1:1.5 Volume Extract,Calcium,5.43,ppm
513295,513295,CS032HY0239,2023-03-28 16:33:43,Substrate Analysis (Pumice) 1:1.5 Volume Extract,Magnesium,1.48,ppm
513304,513304,CS032HY0239,2023-03-28 16:33:43,Substrate Analysis (Pumice) 1:1.5 Volume Extract,Boron,0.026,ppm
...,...,...,...,...,...,...,...
540124,540124,CH031HY0032,2023-05-05 17:40:57,Drip Water Analysis,pH,6.04,NaN
540126,540126,CH031HY0032,2023-05-05 17:40:57,Drip Water Analysis,Ammonium,34.0,ppm
550140,550140,CH031HY0032,2023-05-05 17:40:57,Drip Water Analysis,Manganese,0.26,ppm
550145,550145,CH031HY0032,2023-05-05 17:40:57,Drip Water Analysis,Sodium,28.5,ppm
540129,540129,CH031HY0032,2023-05-05 17:40:57,Drip Water Analysis,Potassium,219,ppm

In [18]:
hydroponics_df_time_filtered['analysis_name'].value_counts()

analysis_name
Drain Water Analysis                                328214
Drip Water Analysis                                 266069
Substrate Analysis (Pumice) 1:1.5 Volume Extract     40341
Substrate Analysis (Cocos) 1:1.5 Volume Extract      23834
Recycle Water Analysis                               12618
                                                     ...
EC Analysis ,Fibre Analysis,pH Analysis (Media)          3
Sodium Analysis                                          3
Aluminium Analysis                                       1
Fibre Analysis                                           1
Fluoride Analysis (Drip)                                 1
Name: count, Length: 61, dtype: int64

In [19]:
hydroponics_df_time_filtered['unit_name'].value_counts()

unit_name
ppm           518901
mmol/l         52042
mS/cm          34605
µmol/l         33751
H2O             1141
mg/l             425
mS cm -1         102
mg/kg             28
mpn/100ml         20
cfu/100 ml        14
cfu/g              9
cfu/ml             9
%                  7
ms/cm              5
in 25g             2
in 25ml            2
in 100ml           2
cfu/100ml          1
Name: count, dtype: int64

In [20]:
hydroponics_df_time_filtered['chemical_name'] = [ str(i).lower().replace(" ","_").replace("(","").replace(")","").replace(".","").strip() for i in hydroponics_df_time_filtered['chemical_name']]

In [21]:
hydroponics_df_time_filtered

,Unnamed: 0,sample_code,batch_date,analysis_name,chemical_name,result,unit_name
513306,513306,CS032HY0239,2023-03-28 16:33:43,Substrate Analysis (Pumice) 1:1.5 Volume Extract,molybdenum,< 0.01,ppm
513305,513305,CS032HY0239,2023-03-28 16:33:43,Substrate Analysis (Pumice) 1:1.5 Volume Extract,copper,0.014,ppm
513294,513294,CS032HY0239,2023-03-28 16:33:43,Substrate Analysis (Pumice) 1:1.5 Volume Extract,calcium,5.43,ppm
513295,513295,CS032HY0239,2023-03-28 16:33:43,Substrate Analysis (Pumice) 1:1.5 Volume Extract,magnesium,1.48,ppm
513304,513304,CS032HY0239,2023-03-28 16:33:43,Substrate Analysis (Pumice) 1:1.5 Volume Extract,boron,0.026,ppm
...,...,...,...,...,...,...,...
540124,540124,CH031HY0032,2023-05-05 17:40:57,Drip Water Analysis,ph,6.04,NaN
540126,540126,CH031HY0032,2023-05-05 17:40:57,Drip Water Analysis,ammonium,34.0,ppm
550140,550140,CH031HY0032,2023-05-05 17:40:57,Drip Water Analysis,manganese,0.26,ppm
550145,550145,CH031HY0032,2023-05-05 17:40:57,Drip Water Analysis,sodium,28.5,ppm
540129,540129,CH031HY0032,2023-05-05 17:40:57,Drip Water Analysis,potassium,219,ppm

In [23]:
hydroponics_df_time_filtered.loc[(hydroponics_df_time_filtered['result'] == "ND"), "result" ] = 0

In [25]:
hydroponics_df_time_filtered['result'] = [ float(str(i).replace("<","").replace(">","").strip()) for i in hydroponics_df_time_filtered['result']]

In [28]:
hydroponics_df_time_filtered.to_csv('input/hydroponics_samples_.csv')

In [29]:
hydroponics_df_time_filtered

,Unnamed: 0,sample_code,batch_date,analysis_name,chemical_name,result,unit_name
513306,513306,CS032HY0239,2023-03-28 16:33:43,Substrate Analysis (Pumice) 1:1.5 Volume Extract,molybdenum,0.010,ppm
513305,513305,CS032HY0239,2023-03-28 16:33:43,Substrate Analysis (Pumice) 1:1.5 Volume Extract,copper,0.014,ppm
513294,513294,CS032HY0239,2023-03-28 16:33:43,Substrate Analysis (Pumice) 1:1.5 Volume Extract,calcium,5.430,ppm
513295,513295,CS032HY0239,2023-03-28 16:33:43,Substrate Analysis (Pumice) 1:1.5 Volume Extract,magnesium,1.480,ppm
513304,513304,CS032HY0239,2023-03-28 16:33:43,Substrate Analysis (Pumice) 1:1.5 Volume Extract,boron,0.026,ppm
...,...,...,...,...,...,...,...
540124,540124,CH031HY0032,2023-05-05 17:40:57,Drip Water Analysis,ph,6.040,NaN
540126,540126,CH031HY0032,2023-05-05 17:40:57,Drip Water Analysis,ammonium,34.000,ppm
550140,550140,CH031HY0032,2023-05-05 17:40:57,Drip Water Analysis,manganese,0.260,ppm
550145,550145,CH031HY0032,2023-05-05 17:40:57,Drip Water Analysis,sodium,28.500,ppm
540129,540129,CH031HY0032,2023-05-05 17:40:57,Drip Water Analysis,potassium,219.000,ppm

In [27]:
analysisDetails = pd.read_sql("SELECT LTRIM(RTRIM(analysis_name)) AS analysis_name, chemical_name FROM AnalysisDetails INNER JOIN Chemicals ON Chemicals.chemical_code = AnalysisDetails.chemical_code INNER JOIN Analysis ON AnalysisDetails.analysis_id = Analysis.analysis_id",con=conn_lims)
analysisDetails.chemical_name = [ str(i).lower().replace(" ","_").replace("(","").replace(")","").replace(".","").strip() for i in analysisDetails.chemical_name ]
analysisDetails = analysisDetails.groupby("analysis_name").agg({'chemical_name': list})
analysisDetails.to_csv("output/analysis_chemicals.csv")

C:\Users\tsuma.thomas\AppData\Local\Temp\ipykernel_20264\956829818.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  analysisDetails = pd.read_sql("SELECT LTRIM(RTRIM(analysis_name)) AS analysis_name, chemical_name FROM AnalysisDetails INNER JOIN Chemicals ON Chemicals.chemical_code = AnalysisDetails.chemical_code INNER JOIN Analysis ON AnalysisDetails.analysis_id = Analysis.analysis_id",con=conn_lims)