In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("test_results.csv")

In [3]:
df.status.value_counts().to_csv("status_value_counts.csv")

In [4]:
import psycopg2

import pandas as pd
import numpy as np
import mariadb
# import dask.dataframe as dd
import json
import os
import shutil
import subprocess
from pathlib import Path
import pyodbc
from datetime import datetime
from dateutil import parser

In [5]:
conn_lims = pyodbc.connect("Driver={SQL Server};"
                            "Server=192.168.5.18\CROPNUT;"
                            "Database=cropnuts;"
                            "uid=thomasTsuma;pwd=GR^KX$uRe9#JwLc6")

In [9]:
chemicals = pd.read_sql("SELECT chemical_symbol, chemical_name FROM Chemicals",con =conn_lims)

C:\Users\tsuma.thomas\AppData\Local\Temp\ipykernel_19204\2661837295.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  chemicals = pd.read_sql("SELECT chemical_symbol, chemical_name FROM Chemicals",con =conn_lims)

In [10]:
chemicals

     chemical_symbol    chemical_name
0         K                 Potassium
1         pH                       pH
2         Ca                  Calcium
3         Na                   Sodium
4         Mg                Magnesium
...              ...              ...
1357             VB2       Vitamin B2
1358             VB6       Vitamin B6
1359             NCn           Niacin
1360        EtOH Con  Ethanol Content
1361             WAc   Water Activity

[1362 rows x 2 columns]

In [11]:
chemicals = chemicals.replace('Phosphorus(Olsen)', 'Phosphorus (Olsen)')

In [12]:
chemicals['chemical_name'] = [ i.lower().replace(" ","_").replace(".","").replace("(","").replace(")","").replace("/","").strip() for i in chemicals['chemical_name'] ]

In [13]:
chemicals

     chemical_symbol    chemical_name
0         K                 potassium
1         pH                       ph
2         Ca                  calcium
3         Na                   sodium
4         Mg                magnesium
...              ...              ...
1357             VB2       vitamin_b2
1358             VB6       vitamin_b6
1359             NCn           niacin
1360        EtOH Con  ethanol_content
1361             WAc   water_activity

[1362 rows x 2 columns]

In [14]:
chemicals.to_csv("chemicals.csv")