In [10]:
import psycopg2

import pandas as pd
import numpy as np
import mariadb
# import dask.dataframe as dd
import json
import os
import shutil
import subprocess
from pathlib import Path
import pyodbc
from datetime import datetime
from dateutil import parser

In [3]:
conn_lims = pyodbc.connect("Driver={SQL Server};"
                            "Server=192.168.5.18\CROPNUT;"
                            "Database=cropnuts;"
                            "uid=thomasTsuma;pwd=GR^KX$uRe9#JwLc6")

In [6]:
sgf_df = pd.read_sql("select sample_code, batch_date, analysis_name, chemical_name, result, unit_name from SampleResults where sample_code LIKE'%SGF%' AND sample_code NOT LIKE 'SGF%'",con=conn_lims)

C:\Users\tsuma.thomas\AppData\Local\Temp\ipykernel_26804\2980733966.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sgf_df = pd.read_sql("select sample_code, batch_date, analysis_name, chemical_name, result, unit_name from SampleResults where sample_code LIKE'%SGF%' AND sample_code NOT LIKE 'SGF%'",con=conn_lims)

In [7]:
sgf_df.to_csv("input/sgf_samples.csv")

In [30]:
sgf_df = pd.read_csv("input/sgf_samples.csv")

In [33]:
sgf_df = sgf_df.dropna(subset='batch_date').sort_values('batch_date')

In [34]:
sgf_df

,Unnamed: 0,sample_code,batch_date,analysis_name,chemical_name,result,unit_name
30023,30023,CG044SGF0003,2010-11-26 00:00:00.000,1:2 Soil Volume Extract,pH,7.76,NaN
30012,30012,CG044SGF0002,2010-11-26 00:00:00.000,1:2 Soil Volume Extract,Nitrate N,31.3,ppm
30013,30013,CG044SGF0002,2010-11-26 00:00:00.000,1:2 Soil Volume Extract,Sulphur,22.8,ppm
30014,30014,CG044SGF0002,2010-11-26 00:00:00.000,1:2 Soil Volume Extract,Iron,0.82,ppm
30015,30015,CG044SGF0002,2010-11-26 00:00:00.000,1:2 Soil Volume Extract,Manganese,0.069,ppm
...,...,...,...,...,...,...,...
406127,406127,CT017SGF0380,2024-11-14 13:00:06.607,1:2 Soil Volume Extract,Zinc,0.11,ppm
406128,406128,CT017SGF0380,2024-11-14 13:00:06.607,1:2 Soil Volume Extract,Boron,0.20,ppm
406129,406129,CT017SGF0380,2024-11-14 13:00:06.607,1:2 Soil Volume Extract,Copper,0.015,ppm
405680,405680,CT017SGF0380,2024-11-14 13:00:06.607,1:2 Soil Volume Extract,Ammonium,7.18,ppm
406115,406115,CT017SGF0380,2024-11-14 13:00:06.607,1:2 Soil Volume Extract,Iron,0.36,ppm

In [32]:
sgf_df.dropna(subset='batch_date').sort_values('batch_date')

,Unnamed: 0,sample_code,batch_date,analysis_name,chemical_name,result,unit_name
30023,30023,CG044SGF0003,2010-11-26 00:00:00.000,1:2 Soil Volume Extract,pH,7.76,NaN
30012,30012,CG044SGF0002,2010-11-26 00:00:00.000,1:2 Soil Volume Extract,Nitrate N,31.3,ppm
30013,30013,CG044SGF0002,2010-11-26 00:00:00.000,1:2 Soil Volume Extract,Sulphur,22.8,ppm
30014,30014,CG044SGF0002,2010-11-26 00:00:00.000,1:2 Soil Volume Extract,Iron,0.82,ppm
30015,30015,CG044SGF0002,2010-11-26 00:00:00.000,1:2 Soil Volume Extract,Manganese,0.069,ppm
...,...,...,...,...,...,...,...
406127,406127,CT017SGF0380,2024-11-14 13:00:06.607,1:2 Soil Volume Extract,Zinc,0.11,ppm
406128,406128,CT017SGF0380,2024-11-14 13:00:06.607,1:2 Soil Volume Extract,Boron,0.20,ppm
406129,406129,CT017SGF0380,2024-11-14 13:00:06.607,1:2 Soil Volume Extract,Copper,0.015,ppm
405680,405680,CT017SGF0380,2024-11-14 13:00:06.607,1:2 Soil Volume Extract,Ammonium,7.18,ppm
406115,406115,CT017SGF0380,2024-11-14 13:00:06.607,1:2 Soil Volume Extract,Iron,0.36,ppm

In [35]:
sgf_df['batch_date'] = sgf_df['batch_date'].apply(parser.parse)

In [36]:
sgf_df

,Unnamed: 0,sample_code,batch_date,analysis_name,chemical_name,result,unit_name
30023,30023,CG044SGF0003,2010-11-26 00:00:00.000,1:2 Soil Volume Extract,pH,7.76,NaN
30012,30012,CG044SGF0002,2010-11-26 00:00:00.000,1:2 Soil Volume Extract,Nitrate N,31.3,ppm
30013,30013,CG044SGF0002,2010-11-26 00:00:00.000,1:2 Soil Volume Extract,Sulphur,22.8,ppm
30014,30014,CG044SGF0002,2010-11-26 00:00:00.000,1:2 Soil Volume Extract,Iron,0.82,ppm
30015,30015,CG044SGF0002,2010-11-26 00:00:00.000,1:2 Soil Volume Extract,Manganese,0.069,ppm
...,...,...,...,...,...,...,...
406127,406127,CT017SGF0380,2024-11-14 13:00:06.607,1:2 Soil Volume Extract,Zinc,0.11,ppm
406128,406128,CT017SGF0380,2024-11-14 13:00:06.607,1:2 Soil Volume Extract,Boron,0.20,ppm
406129,406129,CT017SGF0380,2024-11-14 13:00:06.607,1:2 Soil Volume Extract,Copper,0.015,ppm
405680,405680,CT017SGF0380,2024-11-14 13:00:06.607,1:2 Soil Volume Extract,Ammonium,7.18,ppm
406115,406115,CT017SGF0380,2024-11-14 13:00:06.607,1:2 Soil Volume Extract,Iron,0.36,ppm

In [44]:
sgf_df_time_filtered = pd.concat([ sgf_df.loc[(sgf_df['batch_date'] >= parser.parse('2023-03-26'))], sgf_df.loc[(sgf_df['batch_date'] <= parser.parse('2023-05-08'))] ])

In [45]:
sgf_df_time_filtered

,Unnamed: 0,sample_code,batch_date,analysis_name,chemical_name,result,unit_name
347632,347632,CE032SGF1242,2023-03-27 09:04:50.000,1:2 Soil Volume Extract,Sulphur,18.8,ppm
347630,347630,CE032SGF1242,2023-03-27 09:04:50.000,1:2 Soil Volume Extract,Nitrate N,2.44,ppm
347623,347623,CE032SGF1242,2023-03-27 09:04:50.000,1:2 Soil Volume Extract,pH,7.64,NaN
347624,347624,CE032SGF1242,2023-03-27 09:04:50.000,1:2 Soil Volume Extract,Electrical Conductivity,0.57,mS/cm
347625,347625,CE032SGF1242,2023-03-27 09:04:50.000,1:2 Soil Volume Extract,Ammonium,2.44,ppm
...,...,...,...,...,...,...,...
362040,362040,CK134SGF0272,2023-05-05 16:48:14.660,1:2 Soil Volume Extract,Magnesium,11.7,ppm
362039,362039,CK134SGF0272,2023-05-05 16:48:14.660,1:2 Soil Volume Extract,Calcium,33.6,ppm
362038,362038,CK134SGF0272,2023-05-05 16:48:14.660,1:2 Soil Volume Extract,Ammonium,3.83,ppm
363060,363060,CK134SGF0272,2023-05-05 16:48:14.660,1:2 Soil Volume Extract,Silicon,9.13,ppm
362464,362464,CK134SGF0272,2023-05-05 16:48:14.660,1:2 Soil Volume Extract,Sulphur,50.5,ppm

In [46]:
sgf_df_time_filtered['analysis_name'].value_counts()

analysis_name
1:2 Soil Volume Extract                            350816
Drip Water Analysis                                 74760
Raw irrigation water analysis (for fertigation)      7265
Soil Suction Tube Solution Analysis                  1626
% Organic Matter,1:2 Soil Volume Extract              779
1:2 Soil Volume Extract,Flouride Analysis             280
1:2 Soil Volume Extract,Aluminium Analysis            140
EC [Salts] Analysis,pH Analysis                        22
% Organic Matter                                       22
Drip Water Analysis,Flouride Analysis                  20
Chloride Analysis,pH Analysis,Sulphate Analysis         9
Sulphate Analysis,pH Analysis,Chloride Analysis         3
Aluminium Analysis                                      2
Name: count, dtype: int64

In [47]:
sgf_df_time_filtered['unit_name'].value_counts()

unit_name
ppm           302197
mmol/l         52978
µmol/l         34774
mS/cm          21894
mg/l             495
mS cm -1         302
mScm             130
%                 49
cfu/100 ml         4
Name: count, dtype: int64

In [48]:
sgf_df_time_filtered['chemical_name'] = [ str(i).lower().replace(" ","_").replace("(","").replace(")","").replace(".","").strip() for i in sgf_df_time_filtered['chemical_name']]

In [49]:
sgf_df_time_filtered

,Unnamed: 0,sample_code,batch_date,analysis_name,chemical_name,result,unit_name
347632,347632,CE032SGF1242,2023-03-27 09:04:50.000,1:2 Soil Volume Extract,sulphur,18.8,ppm
347630,347630,CE032SGF1242,2023-03-27 09:04:50.000,1:2 Soil Volume Extract,nitrate_n,2.44,ppm
347623,347623,CE032SGF1242,2023-03-27 09:04:50.000,1:2 Soil Volume Extract,ph,7.64,NaN
347624,347624,CE032SGF1242,2023-03-27 09:04:50.000,1:2 Soil Volume Extract,electrical_conductivity,0.57,mS/cm
347625,347625,CE032SGF1242,2023-03-27 09:04:50.000,1:2 Soil Volume Extract,ammonium,2.44,ppm
...,...,...,...,...,...,...,...
362040,362040,CK134SGF0272,2023-05-05 16:48:14.660,1:2 Soil Volume Extract,magnesium,11.7,ppm
362039,362039,CK134SGF0272,2023-05-05 16:48:14.660,1:2 Soil Volume Extract,calcium,33.6,ppm
362038,362038,CK134SGF0272,2023-05-05 16:48:14.660,1:2 Soil Volume Extract,ammonium,3.83,ppm
363060,363060,CK134SGF0272,2023-05-05 16:48:14.660,1:2 Soil Volume Extract,silicon__,9.13,ppm
362464,362464,CK134SGF0272,2023-05-05 16:48:14.660,1:2 Soil Volume Extract,sulphur,50.5,ppm

In [50]:
sgf_df_time_filtered['result'] = [ float(i.replace("<","").replace(">","").strip()) for i in sgf_df_time_filtered['result']]

In [51]:
sgf_df_time_filtered.to_csv('input/sgd_samples_.csv')

analysis_name            chemical_name            unit_name
1:2 Soil Volume Extract  electrical_conductivity  mS/cm        145
                         nitrates                 ppm          105
                         phosphorus               ppm          104
                         magnesium                ppm          104
                         copper                   ppm          104
                                                              ...
                         potassium                mg/l           1
                         silicon__                mg/l           1
                         sodium                   mg/l           1
                         sulphur                  mg/l           1
                         ammonium                 mg/l           1
Name: count, Length: 110, dtype: int64

In [52]:
analysisDetails = pd.read_sql("SELECT LTRIM(RTRIM(analysis_name)) AS analysis_name, chemical_name FROM AnalysisDetails INNER JOIN Chemicals ON Chemicals.chemical_code = AnalysisDetails.chemical_code INNER JOIN Analysis ON AnalysisDetails.analysis_id = Analysis.analysis_id",con=conn_lims)
analysisDetails.chemical_name = [ str(i).lower().replace(" ","_").replace("(","").replace(")","").replace(".","").strip() for i in analysisDetails.chemical_name ]
analysisDetails = analysisDetails.groupby("analysis_name").agg({'chemical_name': list})
analysisDetails.to_csv("output/analysis_chemicals.csv")

C:\Users\tsuma.thomas\AppData\Local\Temp\ipykernel_26804\956829818.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  analysisDetails = pd.read_sql("SELECT LTRIM(RTRIM(analysis_name)) AS analysis_name, chemical_name FROM AnalysisDetails INNER JOIN Chemicals ON Chemicals.chemical_code = AnalysisDetails.chemical_code INNER JOIN Analysis ON AnalysisDetails.analysis_id = Analysis.analysis_id",con=conn_lims)